<ion-view view-title="Login">
  <ion-content class="padding">
    <form>
      <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Username" required>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" required>
      </label>
    </div>
     <a href="">New to FinTech ? Sign up here.</a>
    <center><button type="submit" class="button button-balanced" ng-click="hello()">
      Login
    </button></center>    
  </form>

  </ion-content>
</ion-view>
